@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 0 auto;
  background-color: #f8f8f8;
  padding-bottom: 30px;
}

.header {
  background-color: rgb(83, 97, 228);
  width: 100%;
}

.header_container {
  display: flex;
  gap: 20px;
  height: 80px;
  padding-left: 150px;
  padding-top: 17px;

  img {
    width: 74px;
    height: 31px;
  }

  .data {
    margin-left: 108px;
    margin-top: 11px;
    display: flex;
    gap: 48px;

    a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 18px;
    }
  }

  .select {
    border: none;
    width: 66px;
    height: 23px;
    margin-top: 13px;
    margin-left: 140px;
    background-color: rgb(83, 97, 228);
    font-size: 18px;
    color: rgb(255, 255, 255);

    option {
      background-color: #fff;
      color: black;
    }
  }

  .btn {
    width: 113px;
    height: 46px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 16px;
    color: rgb(83, 97, 228);
    border: none;
    margin-left: 30px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: rgb(83, 97, 228);
    color: #fff;
    font-size: 18px;
    border: 2px solid rgb(255, 255, 255);
  }
}

.form {
  background-color: rgb(255, 255, 255);
  width: 778px;
  margin-top: 70px;
  margin-left: 332px;
  border-radius: 24px;
  padding: 32px 38px;
  margin-bottom: 100px;

  h1 {
    font-weight: 500;
    font-style: 32px;
    color: rgba(42, 41, 65, 1);
  }

  h4 {
    font-weight: 450;
    font-size: 16px;
    color: rgba(179, 179, 179, 1);
    margin-top: 15px;
  }

  .forPicture {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 45px;

    img {
      width: 84px;
      height: 84px;
      background: none;
    }

    label {
      color: rgb(83, 97, 228);
      cursor: pointer;
      margin-top: 27px;
      font-weight: 500;
      font-size: 16px;

      input {
        display: none;
      }
    }
  }

  .informations {
    display: flex;
    flex-direction: column;
    gap: 20px;

    label {
      font-weight: 500;
      font-size: 14px;
      color: rgba(42, 41, 65, 1);
      position: relative;
      top: 7px;

      span {
        color: rgb(255, 36, 36);
      }
    }

    input {
      width: 702px;
      height: 56px;
      border-radius: 16px;
      border: 2px solid rgba(227, 227, 227, 1);
      padding: 18px;
      color: rgb(110, 109, 119);
    }
  }

  .links {
    margin-top: 30px;
    margin-bottom: 15px;

    label {
      font-weight: 500;
      font-size: 14px;
      color: rgba(42, 41, 65, 1);
      position: relative;
      top: 7px;

      span {
        color: rgb(255, 36, 36);
      }
    }

    .buttons {
      display: flex;
      gap: 25px;
      margin-top: 25px;

      a {
        width: 60px;
        height: 60px;
        border: none;
        border-radius: 12px;
        border: 2px solid rgba(227, 227, 227, 1);
        background-color: #fff;
        cursor: pointer;
        text-align: center;
        padding-top: 15px;
      }

      a:hover {
        background-color: aqua;
      }
    }
  }

  .dataAddress {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .city {
      display: flex;
      gap: 15px;
      margin-bottom: 15px;

      .city-one {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 341px;
        height: 82px;

        label {
          font-weight: 500;
          font-size: 14px;
          color: rgba(42, 41, 65, 1);
          position: relative;
          top: 7px;

          span {
            color: rgb(255, 36, 36);
          }
        }

        select {
          width: 341px;
          height: 56px;
          border: none;
          border-radius: 16px;
          border: 2px solid rgba(227, 227, 227, 1);
          padding: 18px;
          color: rgb(110, 109, 119);
          margin-top: 15px;
        }
      }

      .city-two {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }

    label {
      font-weight: 500;
      font-size: 14px;
      color: rgba(42, 41, 65, 1);
      position: relative;
      top: 7px;

      span {
        color: rgb(255, 36, 36);
      }
    }

    input {
      width: 702px;
      height: 56px;
      border-radius: 16px;
      border: 2px solid rgba(227, 227, 227, 1);
      padding: 18px;
      color: rgb(110, 109, 119);
    }

    .comment {
      width: 702px;
      height: 148px;
      border-radius: 16px;
      border: none;
      padding: 18px;
      border: 2px solid rgba(227, 227, 227, 1);
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 50px;
    }
  }

  .btns {
    display: flex;
    justify-content: space-between;

    .one {
      width: 180px;
      height: 60px;
      border-radius: 16px;
      background-color: rgba(248, 248, 248, 1);
      font-weight: 600;
      font-size: 18px;
      border: none;
      color: rgb(110, 109, 119);
      cursor: pointer;
    }

    .one:hover {
      background-color: rgb(83, 97, 228);
      color: rgb(255, 255, 255);
    }

    .two {
      width: 180px;
      height: 60px;
      background-color: rgb(83, 97, 228);
      border-radius: 16px;
      font-weight: 600;
      font-size: 18px;
      border: none;
      color: rgb(255, 255, 255);
      cursor: pointer;
    }

    .two:hover {
      background-color: rgba(248, 248, 248, 1);
      color: rgb(110, 109, 119);
      border: 2px solid rgb(191, 190, 190);
    }
  }
}

.cards {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  width: 1440px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  .card {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: aqua;
    margin-bottom: 20px;

    img {
      width: 150px;
      height: 150px;
      margin-left: 125px;
      margin-bottom: 20px;
      border-radius: 25px;
    }

    p {
      font-size: 19px;
      font-weight: 500;

      strong {
        font-size: 20px;
        font-weight: 700;
      }
    }

    .commit {
      width: 350px;
    }
  }
}